<center><h2><a href="/pokemons">Pokedex</a>
<p>NAME:<%= @pokemon.name %></p>
<p>CP:<%= @pokemon.cp %></p>
<p>Type:<%= @pokemon.poke_type %></p>
<p>Trainer:<%= @pokemon.trainer_id %></p>

<img src="<%= @pokemon.img_url %>">
</center>
